*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #a6a6a6;
}
header .main-menu{
    list-style: none;
}
header .main-menu li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
header .main-menu li.active{
    background-color: #337ab7;
    font-weight: bold;
}
main{
    background-color: #efeded;
}
main > p{
    background-color: #a6a6a6;
}
footer{
    background-color: #a6a6a6;
    min-height: 100px;
}
